alabaster==0.7.16
appdirs==1.4.4
argh==0.31.2
arrow==1.3.0
Babel==2.14.0
binaryornot==0.4.4
black==21.7b0
bump2version==0.5.11
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==7.1.2
colorama==0.4.6
cookiecutter==2.6.0
coverage==4.5.4
distlib==0.3.8
docutils==0.20.1
entrypoints==0.3
filelock==3.13.3
flake8==3.7.8
idna==3.6
imagesize==1.4.1
Jinja2==3.1.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.6.1
mdurl==0.1.2
mypy-extensions==1.0.0
nh3==0.2.17
packaging==24.0
pathspec==0.12.1
pathtools==0.1.2
pkginfo==1.10.0
platformdirs==4.2.0
pluggy==0.13.1
py==1.11.0
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.17.2
python-dateutil==2.9.0.post0
python-slugify==8.0.4
PyYAML==6.0.1
readme_renderer==43.0
regex==2023.12.25
requests==2.31.0
requests-toolbelt==1.0.0
rich==13.7.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==1.8.5
sphinxcontrib-serializinghtml==1.1.10
sphinxcontrib-websupport==1.2.4
text-unidecode==1.3
toml==0.10.2
tomli==1.2.3
tox==3.14.0
tqdm==4.66.2
twine==1.14.0
types-python-dateutil==2.9.0.20240316
urllib3==2.2.1
virtualenv==20.25.1
watchdog==0.9.0
